body
{
    font-family: Calibri,Helvetica,sans-serif;
    background-color: white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url(image/6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 10px;
}

.createacc
{
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: auto;
    margin-top: 70px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    backdrop-filter: blur(20px);
}

.createacc h1, .createacc h3 
{
    margin: 10px 0;
    font-size: 50px;
}

.container 
{
    display: flex;
    flex-direction: column;
}

.container input 
{
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button 
{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 238, 0);
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover 
{
    background-color: #0056b3;
}

input[type=text],input[type=password]
{
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: none;
    box-sizing: border-box;
}
    
.all_name{
    display: flex;
    gap: 10px;
}

.kuang, .confirm_kuang
{
    position: relative;
    width: auto;
    height: 60px;
    border-radius: 5px;
}


.concel, .confirm_concel
{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-image: url(image/close.png);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.open
{
    background-image: url(image/open.png);
    background-size: 100%;
    top: 20px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}
